@charset "utf-8";
@import url('fonts.css');
@import url('all.min.css');

#main01, #main02, #main03{padding: 0; margin: 0;}
header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 600;
}

header .inner{
    position: static;
    height: 60px; 
    max-width: 100%;
    box-sizing: border-box;
}
header .gnb{right: 0; top: 0;transform: none;}
header .gnb .depth1{position: absolute; right: -100%; top: 50px;}
header .gnb > ul >li{float: none;}
header .gnb > ul > li a{line-height: 1.7;}
header .logo{margin-left: 20px; font-size: 14px; padding-top: 10px;}
header .logo a{width: 100px; height: 39px; margin: 0;}
header .util{display: none;}
header .mob {
    display: block;
    position: absolute;
    right: 20px;
    top: 16px;
    width: 50vw;
    height: 24px;
}
header .mob .mobile{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
header .mob img {max-width: 100%;}
header .mob .mobile-se{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 27px;
    top: 50%;
    transform: translateY(-50%);
}
header .mobile-se img {max-width: 100%;}
header .mob .heart{
    width: 20px; 
    height: 20px;
    position: absolute; 
    right: 52px; top: 50%;
    transform: translateY(-50%);
}
.bgGnb{display: none;}
.sw .swiper-wrapper .swiper-slide .sw-text {
    left: 0;
    top: 100px;
    padding: 0 20px;
    box-sizing: border-box;
    transform: none;
}
.sw .mySwiper{height: 100%;}
.swiper-wrapper .swiper-slide {
    max-width: 100%;
    height: 575px;
}
.swiper-slide .sw-text .title{font-size: 55px;}
.swiper-slide .sw-text span{padding: 8px 0; font-size: 22px;}

.main .title02{font-size: 40px;}

.brand{max-width: 100%;}
.brand .name{margin: 0;}
.brand .name > li{
    max-width: 100%;
    text-align: center;
    float: none;
    position: relative;
    margin: 0;
    padding: 0;
}
.brand .name > li:first-child{margin-bottom: 50px;}
.brand .name > li > ul{margin-left: 175px;}
.brand .name > li > ul > li{
    float: left;
    font-size: 15px;
    padding: 0;
    margin-right: 20px;
}
.brand .name > li .hap{max-width: 100%; margin-left: 190px;}
.brand .name > li .hap li{margin: 0;}
.brand .name > li > ul > li:first-child{margin-left: 0;}
.brand .name > li > ul > li a{display: inline;}
.brand .name > li > .hap li:first-child{margin-left: 0; padding-right: 25px;}

#main01 .view{margin-top: 80px;}
#main01 .view .left img{max-width: 100%; height: 580px;}
#main01 .view .left {width: 100%; height: 630px;}
#main01 .view .right{
    position: static;
    max-width: 100%; 
    height: 400px; 
    padding: 0 20px;
    box-sizing: border-box;
}
#main01 .view .right img{
    width: 95px; 
    height: 95px;
    margin-right: 8px;
}
#main01 .view .right .text h2{font-size: 35px;}
#main01 .view .right .text strong{
    font-size: 28px; 
    margin: 10px 0;
}
#main01 .view .right .text span{font-size: 18px;}
#main01 .view .right .text p{font-size: 18px; margin: 15px 0;}
#main01 .view .right .color p{font-size: 14px;}
#main01 .view .more{bottom: -2%; right: 20px; font-size: 14px;}

#main02 .main2{padding: 80px 0; margin-top: 80px;}
#main02 .main2 .title h2{font-size: 50px;}
#main02 .main2 .title p{font-size: 16px; margin: 15px 0;}
#main02 .main2 .title span{bottom: -30px; right: 20px; font-size: 14px;}
#main02 .main2 .right-news img{
    max-width: 100%;
    height: 400px;
    padding-left: 10px;
    box-sizing: border-box;
}
#main02 .main2 .right-news{
    margin-top: 50px;
    position: static;
}
#main02 .main2 .right-news .box1-text{font-size: 15px; padding: 0 20px;}
#main02 .main2 .right-news .box1-text .text br{display: none;}
#main02 .main2 .right-news .box1-text .date{font-size: 14px;}
#main02 .main2 .left-news{padding: 0 10px; box-sizing: border-box; width: 100%;}
#main02 .main2 .left-news .box1-text{
    position: absolute;
    top: 15%; left: 32%; 
    font-size: 15px;
}
#main02 .main2 .left-news .box1-text .title{font-size: 18px;}
#main02 .main2 .left-news .box1-text .text{font-size: 14px;}
#main02 .main2 .left-news .box1-text .date{font-size: 13px;}


#main03{padding: 70px 0;}
#main03 .sns .title h2{font-size: 55px;}
#main03 .sns .title p{font-size: 16px;}
#main03 .sns .title .side{font-size: 14px; margin-top: 25px; padding-right: 10px;}
#main03 .sns .title .side img{margin-top: 25px;}
#main03 .sns .title .side span a{font-size: 14px; padding: 3px 8px;}
#main03 .roomg ul li img{width: 100%; height: 100%;}
#main03 .room ul li{
    width: calc(100%/2 - 20px);
    margin: 8px 0 0 14px;
}
#main03 .room ul li .text{width: 100%; height: 100%;}
#main03 .room ul li .stext{
    width: 100%;
    height: 36px;
    font-size: 12px; 
    text-align: center;
}

footer{padding: 43px 20px;}
footer .footlogo img{width: 110px; height: auto;}
footer .text{padding: 50px 0 0 28px;}
footer .foot01 ul li {
    padding-left: 15px; 
    position: relative;
    font-size: 14px;
}
footer .foot02{font-size: 12px;}
footer .foot02 .copy{padding-top: 8px;}
footer .foot03{font-size: 13px; padding: 5px; float: right;}
footer .foot03 p{display: inline-block; right: 0;}
footer .foot03 p a{font-size: 13px;  position: static; padding-top: 5px;}